In [ ]:
!pip install --upgrade finance_datareader

In [ ]:
!pip install plotly

In [1]:
import pandas as pd
import numpy as np

C:\Users\jinwo\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\jinwo\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\jinwo\anaconda3\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [5]:
s1 = pd.Series(np.arange(1 ,6, 1))
s2 = pd.Series(np.arange(6 ,11, 1))
s3 = pd.Series(np.arange(12 ,15), index=[1, 2, 10])
df = pd.DataFrame({'c1': s1, 'c2': s2, 'c3': s3})
df

     c1    c2    c3
0   1.0   6.0   NaN
1   2.0   7.0  12.0
2   3.0   8.0  13.0
3   4.0   9.0   NaN
4   5.0  10.0   NaN
10  NaN   NaN  14.0

In [6]:
df["c5"] = pd.Series([1, 2, 3, 4, 5], index=[0, 1, 2, 3, 4])
df.set_index("c5")
df

     c1    c2    c3   c5
0   1.0   6.0   NaN  1.0
1   2.0   7.0  12.0  2.0
2   3.0   8.0  13.0  3.0
3   4.0   9.0   NaN  4.0
4   5.0  10.0   NaN  5.0
10  NaN   NaN  14.0  NaN

In [8]:
import FinanceDataReader as fdr

In [9]:
df = fdr.DataReader("005930", "2020-01-01")

In [10]:
df

              Open    High     Low   Close    Volume    Change
Date
2020-01-02   55500   56000   55000   55200  12993228 -0.010753
2020-01-03   56000   56600   54900   55500  15422255  0.005435
2020-01-06   54900   55600   54600   55500  10278951  0.000000
2020-01-07   55700   56400   55600   55800  10009778  0.005405
2020-01-08   56200   57400   55900   56800  23501171  0.017921
...            ...     ...     ...     ...       ...       ...
2025-10-30  102400  105800  102000  104100  34570017  0.035821
2025-10-31  105000  108600  103300  107500  54824564  0.032661
2025-11-03  106900  111500  106500  111100  30110066  0.033488
2025-11-04  111800  112400  104900  104900  30450281 -0.055806
2025-11-05  101000  102000   96700  100600  44831884 -0.040991

[1435 rows x 6 columns]