In [2]:
import pandas as pd
from pathlib import Path

In [4]:
bs_dt = "20260107"
output_dir = Path(f"../../backtest/daa_backtest_outputs/{bs_dt}")
pattern = "*.parquet"
files = sorted(output_dir.glob(pattern))
files

[WindowsPath('../../backtest/daa_backtest_outputs/20260107/buy_and_hold_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/EWU+SMH+QQQ_XLV+IEF+VBR_ICF+SMH_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/EWU+SMH_ICF+IEF+QQQ_QQQ_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/QQQ+EWU_IEF+SMH+XLV+VBR_SMH_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_cagr_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_mdd_cagr_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_mdd_sharpe_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_sharpe_ratio_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/SMH+EWU+VBR_QQQ+ICF+IEF_QQQ_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/SMH+EWU+XLV+VBR_QQQ+IEF_ICF_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/SMH+QQQ+XLV_EWU+IEF+VBR_VBR+ICF_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/VBR+SMH+QQQ+ICF_XLV+IEF_XLV_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/VBR+XLV_SMH+EWU+IEF+QQQ_ICF_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/XLV+VBR+ICF+EWU_IEF+QQQ_ICF_185640.parquet')]

In [32]:
stg_files = sorted(
    f for f in output_dir.glob(pattern)
    if "result_" not in f.name
)
stg_files

[WindowsPath('../../backtest/daa_backtest_outputs/20260107/buy_and_hold_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/buy_and_hold_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/DVY+IEF+ITOT+IYF_IWD+QQQ_IEF_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/EWU+SMH+QQQ_XLV+IEF+VBR_ICF+SMH_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/EWU+SMH_ICF+IEF+QQQ_QQQ_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/IEF+PGJ+QQQ+IWD_DVY+ITOT_IEF_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/ITOT+IYF+PGJ_IEF+QQQ_PGJ_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/ITOT+PGJ+QQQ_IEF+DVY_IEF_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/IWD+ITOT+IEF+PGJ_QQQ+DVY_IWD_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/PGJ+DVY+QQQ+IWD_IEF+IYF_ITOT_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/PGJ+ITOT+IYF_QQQ+IEF+IWD_PGJ_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/PGJ+QQQ+DVY+IYF_ITOT+IEF_PGJ_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/QQQ+EWU_IEF+SMH+XLV+VBR_SMH_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/QQQ+IYF+DVY_IEF+IWD_PGJ_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/SMH+EWU+VBR_QQQ+ICF+IEF_QQQ_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/SMH+EWU+XLV+VBR_QQQ+IEF_ICF_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/SMH+QQQ+XLV_EWU+IEF+VBR_VBR+ICF_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/VBR+SMH+QQQ+ICF_XLV+IEF_XLV_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/VBR+XLV_SMH+EWU+IEF+QQQ_ICF_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/XLV+VBR+ICF+EWU_IEF+QQQ_ICF_185640.parquet')]

In [38]:
res_files = sorted(
    f for f in output_dir.glob(pattern)
    if "result_" in f.name
)
res_files

[WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_cagr_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_cagr_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_mdd_cagr_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_mdd_cagr_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_mdd_sharpe_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_mdd_sharpe_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_sharpe_ratio_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_sharpe_ratio_191847.parquet')]

In [9]:
pd.read_parquet(stg_files[1])

      date_time      value
0    2005-01-31   1.000000
1    2005-02-01   1.007122
2    2005-02-02   1.011038
3    2005-02-03   1.006943
4    2005-02-04   1.022076
...         ...        ...
5262 2025-12-30  16.339175
5263 2025-12-31  16.200076
5264 2026-01-02  16.429539
5265 2026-01-05  16.485422
5266 2026-01-06  16.779914

[5267 rows x 2 columns]

In [19]:
stg_files[1].name[:-15]

'EWU+SMH+QQQ_XLV+IEF+VBR_ICF+SMH'

In [33]:
stg_dict ={}

for f in stg_files:
    df = pd.read_parquet(f)
    stg_dict[f.name[:-15]] = df

stg_dict

{'buy_and_hold':       date_time      value
 0    2004-01-23   1.000000
 1    2004-01-26   1.005535
 2    2004-01-27   0.996333
 3    2004-01-28   0.984305
 4    2004-01-29   0.985565
 ...         ...        ...
 5519 2025-12-30  10.662092
 5520 2025-12-31  10.579004
 5521 2026-01-02  10.559633
 5522 2026-01-05  10.638513
 5523 2026-01-06  10.722309

 [5524 rows x 2 columns],
 'DVY+IEF+ITOT+IYF_IWD+QQQ_IEF':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   1.005708
 2    2005-02-02   1.008785
 3    2005-02-03   1.006406
 4    2005-02-04   1.016723
 ...         ...        ...
 5262 2025-12-30  13.133738
 5263 2025-12-31  13.035127
 5264 2026-01-02  13.121260
 5265 2026-01-05  13.299247
 5266 2026-01-06  13.388024

 [5267 rows x 2 columns],
 'EWU+SMH+QQQ_XLV+IEF+VBR_ICF+SMH':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   1.007122
 2    2005-02-02   1.011038
 3    2005-02-03   1.006943
 4    2005-02-04   1.022076
 ...         ...        ...
 5262 2025-12-30  16.339175
 5263 2025-12-31  16.200076
 5264 2026-01-02  16.429539
 5265 2026-01-05  16.485422
 5266 2026-01-06  16.779914

 [5267 rows x 2 columns],
 'EWU+SMH_ICF+IEF+QQQ_QQQ':       date_time      value
 0    2003-07-31   1.000000
 1    2003-08-01   0.997539
 2    2003-08-04   0.998344
 3    2003-08-05   0.968846
 4    2003-08-06   0.965261
 ...         ...        ...
 5640 2025-12-30  20.666753
 5641 2025-12-31  20.508386
 5642 2026-01-02  20.731978
 5643 2026-01-05  20.915148
 5644 2026-01-06  21.176560

 [5645 rows x 2 columns],
 'IEF+PGJ+QQQ+IWD_DVY+ITOT_IEF':       date_time      value
 0    2005-12-30   1.000000
 1    2006-01-03   1.012608
 2    2006-01-04   1.017142
 3    2006-01-05   1.017094
 4    2006-01-06   1.023380
 ...         ...        ...
 5030 2025-12-30  12.947914
 5031 2025-12-31  12.848017
 5032 2026-01-02  12.890504
 5033 2026-01-05  13.000015
 5034 2026-01-06  13.103116

 [5035 rows x 2 columns],
 'ITOT+IYF+PGJ_IEF+QQQ_PGJ':       date_time      value
 0    2005-12-30   1.000000
 1    2006-01-03   0.999880
 2    2006-01-04   1.001667
 3    2006-01-05   1.001906
 4    2006-01-06   1.000595
 ...         ...        ...
 5030 2025-12-30  11.481513
 5031 2025-12-31  11.386611
 5032 2026-01-02  11.364553
 5033 2026-01-05  11.454822
 5034 2026-01-06  11.555470

 [5035 rows x 2 columns],
 'ITOT+PGJ+QQQ_IEF+DVY_IEF':       date_time     value
 0    2005-12-30  1.000000
 1    2006-01-03  1.009382
 2    2006-01-04  1.014400
 3    2006-01-05  1.015543
 4    2006-01-06  1.021955
 ...         ...       ...
 5030 2025-12-30  8.535874
 5031 2025-12-31  8.470314
 5032 2026-01-02  8.517615
 5033 2026-01-05  8.579033
 5034 2026-01-06  8.656071

 [5035 rows x 2 columns],
 'IWD+ITOT+IEF+PGJ_QQQ+DVY_IWD':       date_time      value
 0    2005-12-30   1.000000
 1    2006-01-03   1.019900
 2    2006-01-04   1.027843
 3    2006-01-05   1.030053
 4    2006-01-06   1.043705
 ...         ...        ...
 5030 2025-12-30  16.029803
 5031 2025-12-31  15.903634
 5032 2026-01-02  15.935956
 5033 2026-01-05  16.073885
 5034 2026-01-06  16.208841

 [5035 rows x 2 columns],
 'PGJ+DVY+QQQ+IWD_IEF+IYF_ITOT':       date_time      value
 0    2005-12-30   1.000000
 1    2006-01-03   1.018668
 2    2006-01-04   1.022685
 3    2006-01-05   1.025157
 4    2006-01-06   1.035006
 ...         ...        ...
 5030 2025-12-30   9.856096
 5031 2025-12-31   9.781896
 5032 2026-01-02   9.826097
 5033 2026-01-05   9.992355
 5034 2026-01-06  10.044988

 [5035 rows x 2 columns],
 'PGJ+ITOT+IYF_QQQ+IEF+IWD_PGJ':       date_time      value
 0    2005-12-30   1.000000
 1    2006-01-03   1.019557
 2    2006-01-04   1.024193
 3    2006-01-05   1.024483
 4    2006-01-06   1.032016
 ...         ...        ...
 5030 2025-12-30  11.066119
 5031 2025-12-31  10.982577
 5032 2026-01-02  11.079694
 5033 2026-01-05  11.206050
 5034 2026-01-06  11.307867

 [5035 rows x 2 columns],
 'PGJ+QQQ+DVY+IYF_ITOT+IEF_PGJ':       date_time      value
 0    2005-12-30   1.000000
 1    2006-01-03   1.015498
 2    2006-01-04   1.021355
 3    2006-01-05   1.020994
 4    2006-01-06   1.030456
 ...         ...        ...
 5030 2025-12-30  10.753162
 5031 2025-12-31  10.673482
 5032 2026-01-02  10.707220
 5033 2026-01-05  10.785464
 5034 2026-01-06  10.860118

 [5035 rows x 2 columns],
 'QQQ+EWU_IEF+SMH+XLV+VBR_SMH':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   1.007122
 2    2005-02-02   1.011038
 3    2005-02-03   1.006943
 4    2005-02-04   1.022076
 ...         ...        ...
 5262 2025-12-30  14.549685
 5263 2025-12-31  14.458841
 5264 2026-01-02  14.755670
 5265 2026-01-05  14.899212
 5266 2026-01-06  15.152236

 [5267 rows x 2 columns],
 'QQQ+IYF+DVY_IEF+IWD_PGJ':       date_time     value
 0    2005-12-30  1.000000
 1    2006-01-03  1.019557
 2    2006-01-04  1.024193
 3    2006-01-05  1.024483
 4    2006-01-06  1.032016
 ...         ...       ...
 5030 2025-12-30  7.279429
 5031 2025-12-31  7.224474
 5032 2026-01-02  7.288359
 5033 2026-01-05  7.371478
 5034 2026-01-06  7.438454

 [5035 rows x 2 columns],
 'SMH+EWU+VBR_QQQ+ICF+IEF_QQQ':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   0.999309
 2    2005-02-02   0.999427
 3    2005-02-03   0.997788
 4    2005-02-04   1.002938
 ...         ...        ...
 5262 2025-12-30  19.239473
 5263 2025-12-31  19.092044
 5264 2026-01-02  19.300194
 5265 2026-01-05  19.470713
 5266 2026-01-06  19.714072

 [5267 rows x 2 columns],
 'SMH+EWU+XLV+VBR_QQQ+IEF_ICF':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   0.999309
 2    2005-02-02   0.999427
 3    2005-02-03   0.997788
 4    2005-02-04   1.002938
 ...         ...        ...
 5262 2025-12-30  14.146289
 5263 2025-12-31  14.036689
 5264 2026-01-02  14.009498
 5265 2026-01-05  14.120775
 5266 2026-01-06  14.244848

 [5267 rows x 2 columns],
 'SMH+QQQ+XLV_EWU+IEF+VBR_VBR+ICF':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   1.009144
 2    2005-02-02   1.014254
 3    2005-02-03   1.008910
 4    2005-02-04   1.018062
 ...         ...        ...
 5262 2025-12-30  14.275366
 5263 2025-12-31  14.172077
 5264 2026-01-02  14.395233
 5265 2026-01-05  14.483074
 5266 2026-01-06  14.690226

 [5267 rows x 2 columns],
 'VBR+SMH+QQQ+ICF_XLV+IEF_XLV':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   0.999309
 2    2005-02-02   0.999427
 3    2005-02-03   0.997788
 4    2005-02-04   1.002938
 ...         ...        ...
 5262 2025-12-30  10.247795
 5263 2025-12-31  10.175019
 5264 2026-01-02  10.286451
 5265 2026-01-05  10.321472
 5266 2026-01-06  10.515042

 [5267 rows x 2 columns],
 'VBR+XLV_SMH+EWU+IEF+QQQ_ICF':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   1.011898
 2    2005-02-02   1.019263
 3    2005-02-03   1.015864
 4    2005-02-04   1.021530
 ...         ...        ...
 5262 2025-12-30  14.246088
 5263 2025-12-31  14.127701
 5264 2026-01-02  14.644352
 5265 2026-01-05  14.812647
 5266 2026-01-06  15.206118

 [5267 rows x 2 columns],
 'XLV+VBR+ICF+EWU_IEF+QQQ_ICF':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   0.999309
 2    2005-02-02   0.999427
 3    2005-02-03   0.997788
 4    2005-02-04   1.002938
 ...         ...        ...
 5262 2025-12-30  12.520322
 5263 2025-12-31  12.434055
 5264 2026-01-02  12.409968
 5265 2026-01-05  12.508540
 5266 2026-01-06  12.618447

 [5267 rows x 2 columns]}

In [34]:
stg_dict.keys()

dict_keys(['buy_and_hold', 'DVY+IEF+ITOT+IYF_IWD+QQQ_IEF', 'EWU+SMH+QQQ_XLV+IEF+VBR_ICF+SMH', 'EWU+SMH_ICF+IEF+QQQ_QQQ', 'IEF+PGJ+QQQ+IWD_DVY+ITOT_IEF', 'ITOT+IYF+PGJ_IEF+QQQ_PGJ', 'ITOT+PGJ+QQQ_IEF+DVY_IEF', 'IWD+ITOT+IEF+PGJ_QQQ+DVY_IWD', 'PGJ+DVY+QQQ+IWD_IEF+IYF_ITOT', 'PGJ+ITOT+IYF_QQQ+IEF+IWD_PGJ', 'PGJ+QQQ+DVY+IYF_ITOT+IEF_PGJ', 'QQQ+EWU_IEF+SMH+XLV+VBR_SMH', 'QQQ+IYF+DVY_IEF+IWD_PGJ', 'SMH+EWU+VBR_QQQ+ICF+IEF_QQQ', 'SMH+EWU+XLV+VBR_QQQ+IEF_ICF', 'SMH+QQQ+XLV_EWU+IEF+VBR_VBR+ICF', 'VBR+SMH+QQQ+ICF_XLV+IEF_XLV', 'VBR+XLV_SMH+EWU+IEF+QQQ_ICF', 'XLV+VBR+ICF+EWU_IEF+QQQ_ICF'])

In [40]:
res_dict ={}

for f in res_files:
    df = pd.read_parquet(f)
    res_dict[f.name[:-8]] = df

res_dict

{'result_cagr_185640':                                  CAGR
 SMH+EWU+VBR_QQQ+ICF+IEF_QQQ  0.152012,
 'result_cagr_191847': Empty DataFrame
 Columns: [CAGR]
 Index: [],
 'result_mdd_cagr_185640': Empty DataFrame
 Columns: [MDD]
 Index: [],
 'result_mdd_cagr_191847': Empty DataFrame
 Columns: [MDD]
 Index: [],
 'result_mdd_sharpe_185640':                                       MDD
 SMH+QQQ+XLV_EWU+IEF+VBR_VBR+ICF -0.379504
 EWU+SMH_ICF+IEF+QQQ_QQQ         -0.340934
 SMH+EWU+XLV+VBR_QQQ+IEF_ICF     -0.331729
 buy_and_hold                    -0.331175
 VBR+XLV_SMH+EWU+IEF+QQQ_ICF     -0.319076
 SMH+EWU+VBR_QQQ+ICF+IEF_QQQ     -0.318062
 XLV+VBR+ICF+EWU_IEF+QQQ_ICF     -0.313805
 VBR+SMH+QQQ+ICF_XLV+IEF_XLV     -0.278739
 EWU+SMH+QQQ_XLV+IEF+VBR_ICF+SMH -0.273818
 QQQ+EWU_IEF+SMH+XLV+VBR_SMH     -0.251163,
 'result_mdd_sharpe_191847':                                    MDD
 IWD+ITOT+IEF+PGJ_QQQ+DVY_IWD -0.548811
 IEF+PGJ+QQQ+IWD_DVY+ITOT_IEF -0.461206
 DVY+IEF+ITOT+IYF_IWD+QQQ_IEF -0.420440
 ITOT+IYF+PGJ_IEF+QQQ_PGJ     -0.400427
 PGJ+DVY+QQQ+IWD_IEF+IYF_ITOT -0.369851
 ITOT+PGJ+QQQ_IEF+DVY_IEF     -0.357965
 PGJ+QQQ+DVY+IYF_ITOT+IEF_PGJ -0.329718
 buy_and_hold                 -0.325028
 QQQ+IYF+DVY_IEF+IWD_PGJ      -0.296168
 PGJ+ITOT+IYF_QQQ+IEF+IWD_PGJ -0.291924,
 'result_sharpe_ratio_185640': Empty DataFrame
 Columns: [Sharpe Ratio]
 Index: [],
 'result_sharpe_ratio_191847': Empty DataFrame
 Columns: [Sharpe Ratio]
 Index: []}

In [41]:
res_dict.keys()

dict_keys(['result_cagr_185640', 'result_cagr_191847', 'result_mdd_cagr_185640', 'result_mdd_cagr_191847', 'result_mdd_sharpe_185640', 'result_mdd_sharpe_191847', 'result_sharpe_ratio_185640', 'result_sharpe_ratio_191847'])

In [65]:
for k in res_dict.keys():
    if "mdd" in k:
        if len(res_dict[k]) > 0:
            print(k)
            print(res_dict[k].tail(1))
            print(res_dict[k].tail(1).index[0])
    else:
        if len(res_dict[k]) > 0:
            print(k)
            print(res_dict[k].head(1))
            print(res_dict[k].tail(1).index[0])

result_cagr_185640
                                 CAGR
SMH+EWU+VBR_QQQ+ICF+IEF_QQQ  0.152012
SMH+EWU+VBR_QQQ+ICF+IEF_QQQ
result_mdd_sharpe_185640
                                  MDD
QQQ+EWU_IEF+SMH+XLV+VBR_SMH -0.251163
QQQ+EWU_IEF+SMH+XLV+VBR_SMH
result_mdd_sharpe_191847
                                   MDD
PGJ+ITOT+IYF_QQQ+IEF+IWD_PGJ -0.291924
PGJ+ITOT+IYF_QQQ+IEF+IWD_PGJ

In [ ]:
all_ticker_columns = random.sample(ticker_df.drop(columns=["QQQ", "IEF"]).columns.tolist(), 5)
all_ticker_columns