In [2]:
import pandas as pd
from pathlib import Path

In [3]:
bs_dt = "20260107"
output_dir = Path(f"../../backtest/daa_backtest_outputs/{bs_dt}")
pattern = "*.parquet"
files = sorted(output_dir.glob(pattern))
files

[WindowsPath('../../backtest/daa_backtest_outputs/20260107/buy_and_hold_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/buy_and_hold_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/DVY+IEF+ITOT+IYF_IWD+QQQ_IEF_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/EWU+SMH+QQQ_XLV+IEF+VBR_ICF+SMH_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/EWU+SMH_ICF+IEF+QQQ_QQQ_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/IEF+PGJ+QQQ+IWD_DVY+ITOT_IEF_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/ITOT+IYF+PGJ_IEF+QQQ_PGJ_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/ITOT+PGJ+QQQ_IEF+DVY_IEF_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/IWD+ITOT+IEF+PGJ_QQQ+DVY_IWD_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/PGJ+DVY+QQQ+IWD_IEF+IYF_ITOT_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/PGJ+ITOT+IYF_QQQ+IEF+IWD_PGJ_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/PGJ+QQQ+DVY+IYF_ITOT+IEF_PGJ_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/QQQ+EWU_IEF+SMH+XLV+VBR_SMH_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/QQQ+IYF+DVY_IEF+IWD_PGJ_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_cagr_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_cagr_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_mdd_cagr_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_mdd_cagr_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_mdd_sharpe_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_mdd_sharpe_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_sharpe_ratio_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_sharpe_ratio_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/SMH+EWU+VBR_QQQ+ICF+IEF_QQQ_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/SMH+EWU+XLV+VBR_QQQ+IEF_ICF_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/SMH+QQQ+XLV_EWU+IEF+VBR_VBR+ICF_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/VBR+SMH+QQQ+ICF_XLV+IEF_XLV_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/VBR+XLV_SMH+EWU+IEF+QQQ_ICF_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/XLV+VBR+ICF+EWU_IEF+QQQ_ICF_185640.parquet')]

In [4]:
stg_files = sorted(
    f for f in output_dir.glob(pattern)
    if "result_" not in f.name
)
stg_files

[WindowsPath('../../backtest/daa_backtest_outputs/20260107/buy_and_hold_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/buy_and_hold_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/DVY+IEF+ITOT+IYF_IWD+QQQ_IEF_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/EWU+SMH+QQQ_XLV+IEF+VBR_ICF+SMH_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/EWU+SMH_ICF+IEF+QQQ_QQQ_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/IEF+PGJ+QQQ+IWD_DVY+ITOT_IEF_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/ITOT+IYF+PGJ_IEF+QQQ_PGJ_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/ITOT+PGJ+QQQ_IEF+DVY_IEF_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/IWD+ITOT+IEF+PGJ_QQQ+DVY_IWD_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/PGJ+DVY+QQQ+IWD_IEF+IYF_ITOT_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/PGJ+ITOT+IYF_QQQ+IEF+IWD_PGJ_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/PGJ+QQQ+DVY+IYF_ITOT+IEF_PGJ_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/QQQ+EWU_IEF+SMH+XLV+VBR_SMH_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/QQQ+IYF+DVY_IEF+IWD_PGJ_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/SMH+EWU+VBR_QQQ+ICF+IEF_QQQ_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/SMH+EWU+XLV+VBR_QQQ+IEF_ICF_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/SMH+QQQ+XLV_EWU+IEF+VBR_VBR+ICF_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/VBR+SMH+QQQ+ICF_XLV+IEF_XLV_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/VBR+XLV_SMH+EWU+IEF+QQQ_ICF_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/XLV+VBR+ICF+EWU_IEF+QQQ_ICF_185640.parquet')]

In [5]:
res_files = sorted(
    f for f in output_dir.glob(pattern)
    if "result_" in f.name
)
res_files

[WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_cagr_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_cagr_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_mdd_cagr_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_mdd_cagr_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_mdd_sharpe_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_mdd_sharpe_191847.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_sharpe_ratio_185640.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260107/result_sharpe_ratio_191847.parquet')]

In [6]:
pd.read_parquet(stg_files[1])

      date_time      value
0    2004-01-23   1.000000
1    2004-01-26   1.005535
2    2004-01-27   0.996333
3    2004-01-28   0.984305
4    2004-01-29   0.985565
...         ...        ...
5519 2025-12-30  10.662092
5520 2025-12-31  10.579004
5521 2026-01-02  10.559633
5522 2026-01-05  10.638513
5523 2026-01-06  10.722309

[5524 rows x 2 columns]

In [7]:
stg_files[1].name[:-15]

'buy_and_hold'

In [8]:
stg_dict ={}

for f in stg_files:
    df = pd.read_parquet(f)
    stg_dict[f.name[:-15]] = df

stg_dict

{'buy_and_hold':       date_time      value
 0    2004-01-23   1.000000
 1    2004-01-26   1.005535
 2    2004-01-27   0.996333
 3    2004-01-28   0.984305
 4    2004-01-29   0.985565
 ...         ...        ...
 5519 2025-12-30  10.662092
 5520 2025-12-31  10.579004
 5521 2026-01-02  10.559633
 5522 2026-01-05  10.638513
 5523 2026-01-06  10.722309

 [5524 rows x 2 columns],
 'DVY+IEF+ITOT+IYF_IWD+QQQ_IEF':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   1.005708
 2    2005-02-02   1.008785
 3    2005-02-03   1.006406
 4    2005-02-04   1.016723
 ...         ...        ...
 5262 2025-12-30  13.133738
 5263 2025-12-31  13.035127
 5264 2026-01-02  13.121260
 5265 2026-01-05  13.299247
 5266 2026-01-06  13.388024

 [5267 rows x 2 columns],
 'EWU+SMH+QQQ_XLV+IEF+VBR_ICF+SMH':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   1.007122
 2    2005-02-02   1.011038
 3    2005-02-03   1.006943
 4    2005-02-04   1.022076
 ...         ...        ...
 5262 2025-12-30  16.339175
 5263 2025-12-31  16.200076
 5264 2026-01-02  16.429539
 5265 2026-01-05  16.485422
 5266 2026-01-06  16.779914

 [5267 rows x 2 columns],
 'EWU+SMH_ICF+IEF+QQQ_QQQ':       date_time      value
 0    2003-07-31   1.000000
 1    2003-08-01   0.997539
 2    2003-08-04   0.998344
 3    2003-08-05   0.968846
 4    2003-08-06   0.965261
 ...         ...        ...
 5640 2025-12-30  20.666753
 5641 2025-12-31  20.508386
 5642 2026-01-02  20.731978
 5643 2026-01-05  20.915148
 5644 2026-01-06  21.176560

 [5645 rows x 2 columns],
 'IEF+PGJ+QQQ+IWD_DVY+ITOT_IEF':       date_time      value
 0    2005-12-30   1.000000
 1    2006-01-03   1.012608
 2    2006-01-04   1.017142
 3    2006-01-05   1.017094
 4    2006-01-06   1.023380
 ...         ...        ...
 5030 2025-12-30  12.947914
 5031 2025-12-31  12.848017
 5032 2026-01-02  12.890504
 5033 2026-01-05  13.000015
 5034 2026-01-06  13.103116

 [5035 rows x 2 columns],
 'ITOT+IYF+PGJ_IEF+QQQ_PGJ':       date_time      value
 0    2005-12-30   1.000000
 1    2006-01-03   0.999880
 2    2006-01-04   1.001667
 3    2006-01-05   1.001906
 4    2006-01-06   1.000595
 ...         ...        ...
 5030 2025-12-30  11.481513
 5031 2025-12-31  11.386611
 5032 2026-01-02  11.364553
 5033 2026-01-05  11.454822
 5034 2026-01-06  11.555470

 [5035 rows x 2 columns],
 'ITOT+PGJ+QQQ_IEF+DVY_IEF':       date_time     value
 0    2005-12-30  1.000000
 1    2006-01-03  1.009382
 2    2006-01-04  1.014400
 3    2006-01-05  1.015543
 4    2006-01-06  1.021955
 ...         ...       ...
 5030 2025-12-30  8.535874
 5031 2025-12-31  8.470314
 5032 2026-01-02  8.517615
 5033 2026-01-05  8.579033
 5034 2026-01-06  8.656071

 [5035 rows x 2 columns],
 'IWD+ITOT+IEF+PGJ_QQQ+DVY_IWD':       date_time      value
 0    2005-12-30   1.000000
 1    2006-01-03   1.019900
 2    2006-01-04   1.027843
 3    2006-01-05   1.030053
 4    2006-01-06   1.043705
 ...         ...        ...
 5030 2025-12-30  16.029803
 5031 2025-12-31  15.903634
 5032 2026-01-02  15.935956
 5033 2026-01-05  16.073885
 5034 2026-01-06  16.208841

 [5035 rows x 2 columns],
 'PGJ+DVY+QQQ+IWD_IEF+IYF_ITOT':       date_time      value
 0    2005-12-30   1.000000
 1    2006-01-03   1.018668
 2    2006-01-04   1.022685
 3    2006-01-05   1.025157
 4    2006-01-06   1.035006
 ...         ...        ...
 5030 2025-12-30   9.856096
 5031 2025-12-31   9.781896
 5032 2026-01-02   9.826097
 5033 2026-01-05   9.992355
 5034 2026-01-06  10.044988

 [5035 rows x 2 columns],
 'PGJ+ITOT+IYF_QQQ+IEF+IWD_PGJ':       date_time      value
 0    2005-12-30   1.000000
 1    2006-01-03   1.019557
 2    2006-01-04   1.024193
 3    2006-01-05   1.024483
 4    2006-01-06   1.032016
 ...         ...        ...
 5030 2025-12-30  11.066119
 5031 2025-12-31  10.982577
 5032 2026-01-02  11.079694
 5033 2026-01-05  11.206050
 5034 2026-01-06  11.307867

 [5035 rows x 2 columns],
 'PGJ+QQQ+DVY+IYF_ITOT+IEF_PGJ':       date_time      value
 0    2005-12-30   1.000000
 1    2006-01-03   1.015498
 2    2006-01-04   1.021355
 3    2006-01-05   1.020994
 4    2006-01-06   1.030456
 ...         ...        ...
 5030 2025-12-30  10.753162
 5031 2025-12-31  10.673482
 5032 2026-01-02  10.707220
 5033 2026-01-05  10.785464
 5034 2026-01-06  10.860118

 [5035 rows x 2 columns],
 'QQQ+EWU_IEF+SMH+XLV+VBR_SMH':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   1.007122
 2    2005-02-02   1.011038
 3    2005-02-03   1.006943
 4    2005-02-04   1.022076
 ...         ...        ...
 5262 2025-12-30  14.549685
 5263 2025-12-31  14.458841
 5264 2026-01-02  14.755670
 5265 2026-01-05  14.899212
 5266 2026-01-06  15.152236

 [5267 rows x 2 columns],
 'QQQ+IYF+DVY_IEF+IWD_PGJ':       date_time     value
 0    2005-12-30  1.000000
 1    2006-01-03  1.019557
 2    2006-01-04  1.024193
 3    2006-01-05  1.024483
 4    2006-01-06  1.032016
 ...         ...       ...
 5030 2025-12-30  7.279429
 5031 2025-12-31  7.224474
 5032 2026-01-02  7.288359
 5033 2026-01-05  7.371478
 5034 2026-01-06  7.438454

 [5035 rows x 2 columns],
 'SMH+EWU+VBR_QQQ+ICF+IEF_QQQ':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   0.999309
 2    2005-02-02   0.999427
 3    2005-02-03   0.997788
 4    2005-02-04   1.002938
 ...         ...        ...
 5262 2025-12-30  19.239473
 5263 2025-12-31  19.092044
 5264 2026-01-02  19.300194
 5265 2026-01-05  19.470713
 5266 2026-01-06  19.714072

 [5267 rows x 2 columns],
 'SMH+EWU+XLV+VBR_QQQ+IEF_ICF':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   0.999309
 2    2005-02-02   0.999427
 3    2005-02-03   0.997788
 4    2005-02-04   1.002938
 ...         ...        ...
 5262 2025-12-30  14.146289
 5263 2025-12-31  14.036689
 5264 2026-01-02  14.009498
 5265 2026-01-05  14.120775
 5266 2026-01-06  14.244848

 [5267 rows x 2 columns],
 'SMH+QQQ+XLV_EWU+IEF+VBR_VBR+ICF':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   1.009144
 2    2005-02-02   1.014254
 3    2005-02-03   1.008910
 4    2005-02-04   1.018062
 ...         ...        ...
 5262 2025-12-30  14.275366
 5263 2025-12-31  14.172077
 5264 2026-01-02  14.395233
 5265 2026-01-05  14.483074
 5266 2026-01-06  14.690226

 [5267 rows x 2 columns],
 'VBR+SMH+QQQ+ICF_XLV+IEF_XLV':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   0.999309
 2    2005-02-02   0.999427
 3    2005-02-03   0.997788
 4    2005-02-04   1.002938
 ...         ...        ...
 5262 2025-12-30  10.247795
 5263 2025-12-31  10.175019
 5264 2026-01-02  10.286451
 5265 2026-01-05  10.321472
 5266 2026-01-06  10.515042

 [5267 rows x 2 columns],
 'VBR+XLV_SMH+EWU+IEF+QQQ_ICF':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   1.011898
 2    2005-02-02   1.019263
 3    2005-02-03   1.015864
 4    2005-02-04   1.021530
 ...         ...        ...
 5262 2025-12-30  14.246088
 5263 2025-12-31  14.127701
 5264 2026-01-02  14.644352
 5265 2026-01-05  14.812647
 5266 2026-01-06  15.206118

 [5267 rows x 2 columns],
 'XLV+VBR+ICF+EWU_IEF+QQQ_ICF':       date_time      value
 0    2005-01-31   1.000000
 1    2005-02-01   0.999309
 2    2005-02-02   0.999427
 3    2005-02-03   0.997788
 4    2005-02-04   1.002938
 ...         ...        ...
 5262 2025-12-30  12.520322
 5263 2025-12-31  12.434055
 5264 2026-01-02  12.409968
 5265 2026-01-05  12.508540
 5266 2026-01-06  12.618447

 [5267 rows x 2 columns]}

In [9]:
stg_dict.keys()

dict_keys(['buy_and_hold', 'DVY+IEF+ITOT+IYF_IWD+QQQ_IEF', 'EWU+SMH+QQQ_XLV+IEF+VBR_ICF+SMH', 'EWU+SMH_ICF+IEF+QQQ_QQQ', 'IEF+PGJ+QQQ+IWD_DVY+ITOT_IEF', 'ITOT+IYF+PGJ_IEF+QQQ_PGJ', 'ITOT+PGJ+QQQ_IEF+DVY_IEF', 'IWD+ITOT+IEF+PGJ_QQQ+DVY_IWD', 'PGJ+DVY+QQQ+IWD_IEF+IYF_ITOT', 'PGJ+ITOT+IYF_QQQ+IEF+IWD_PGJ', 'PGJ+QQQ+DVY+IYF_ITOT+IEF_PGJ', 'QQQ+EWU_IEF+SMH+XLV+VBR_SMH', 'QQQ+IYF+DVY_IEF+IWD_PGJ', 'SMH+EWU+VBR_QQQ+ICF+IEF_QQQ', 'SMH+EWU+XLV+VBR_QQQ+IEF_ICF', 'SMH+QQQ+XLV_EWU+IEF+VBR_VBR+ICF', 'VBR+SMH+QQQ+ICF_XLV+IEF_XLV', 'VBR+XLV_SMH+EWU+IEF+QQQ_ICF', 'XLV+VBR+ICF+EWU_IEF+QQQ_ICF'])

In [10]:
res_dict ={}

for f in res_files:
    df = pd.read_parquet(f)
    res_dict[f.name[:-8]] = df

res_dict

{'result_cagr_185640':                                  CAGR
 SMH+EWU+VBR_QQQ+ICF+IEF_QQQ  0.152012,
 'result_cagr_191847': Empty DataFrame
 Columns: [CAGR]
 Index: [],
 'result_mdd_cagr_185640': Empty DataFrame
 Columns: [MDD]
 Index: [],
 'result_mdd_cagr_191847': Empty DataFrame
 Columns: [MDD]
 Index: [],
 'result_mdd_sharpe_185640':                                       MDD
 SMH+QQQ+XLV_EWU+IEF+VBR_VBR+ICF -0.379504
 EWU+SMH_ICF+IEF+QQQ_QQQ         -0.340934
 SMH+EWU+XLV+VBR_QQQ+IEF_ICF     -0.331729
 buy_and_hold                    -0.331175
 VBR+XLV_SMH+EWU+IEF+QQQ_ICF     -0.319076
 SMH+EWU+VBR_QQQ+ICF+IEF_QQQ     -0.318062
 XLV+VBR+ICF+EWU_IEF+QQQ_ICF     -0.313805
 VBR+SMH+QQQ+ICF_XLV+IEF_XLV     -0.278739
 EWU+SMH+QQQ_XLV+IEF+VBR_ICF+SMH -0.273818
 QQQ+EWU_IEF+SMH+XLV+VBR_SMH     -0.251163,
 'result_mdd_sharpe_191847':                                    MDD
 IWD+ITOT+IEF+PGJ_QQQ+DVY_IWD -0.548811
 IEF+PGJ+QQQ+IWD_DVY+ITOT_IEF -0.461206
 DVY+IEF+ITOT+IYF_IWD+QQQ_IEF -0.420440
 ITOT+IYF+PGJ_IEF+QQQ_PGJ     -0.400427
 PGJ+DVY+QQQ+IWD_IEF+IYF_ITOT -0.369851
 ITOT+PGJ+QQQ_IEF+DVY_IEF     -0.357965
 PGJ+QQQ+DVY+IYF_ITOT+IEF_PGJ -0.329718
 buy_and_hold                 -0.325028
 QQQ+IYF+DVY_IEF+IWD_PGJ      -0.296168
 PGJ+ITOT+IYF_QQQ+IEF+IWD_PGJ -0.291924,
 'result_sharpe_ratio_185640': Empty DataFrame
 Columns: [Sharpe Ratio]
 Index: [],
 'result_sharpe_ratio_191847': Empty DataFrame
 Columns: [Sharpe Ratio]
 Index: []}

In [11]:
res_dict.keys()

dict_keys(['result_cagr_185640', 'result_cagr_191847', 'result_mdd_cagr_185640', 'result_mdd_cagr_191847', 'result_mdd_sharpe_185640', 'result_mdd_sharpe_191847', 'result_sharpe_ratio_185640', 'result_sharpe_ratio_191847'])

In [12]:
for k in res_dict.keys():
    if "mdd" in k:
        if len(res_dict[k]) > 0:
            print(k)
            print(res_dict[k].tail(1))
            print(res_dict[k].tail(1).index[0])
    else:
        if len(res_dict[k]) > 0:
            print(k)
            print(res_dict[k].head(1))
            print(res_dict[k].tail(1).index[0])

result_cagr_185640
                                 CAGR
SMH+EWU+VBR_QQQ+ICF+IEF_QQQ  0.152012
SMH+EWU+VBR_QQQ+ICF+IEF_QQQ
result_mdd_sharpe_185640
                                  MDD
QQQ+EWU_IEF+SMH+XLV+VBR_SMH -0.251163
QQQ+EWU_IEF+SMH+XLV+VBR_SMH
result_mdd_sharpe_191847
                                   MDD
PGJ+ITOT+IYF_QQQ+IEF+IWD_PGJ -0.291924
PGJ+ITOT+IYF_QQQ+IEF+IWD_PGJ

In [28]:
from lib.daa_lib import *
import yfinance as yf
import pickle

def load_df_dict_pickle(filepath: str) -> dict:
    path = Path(filepath)
    with path.open("rb") as f:
        return pickle.load(f)

In [20]:
qqq = yf.download(
    "QQQ",
    start="2000-01-01",
    auto_adjust=True,
    progress=False,
    group_by="column"
)

In [22]:
qqq['Close']

Ticker             QQQ
Date
2000-01-03   80.028183
2000-01-04   74.538147
2000-01-05   72.637726
2000-01-06   67.649178
2000-01-07   76.016251
...                ...
2025-12-31  614.309998
2026-01-02  613.119995
2026-01-05  617.989990
2026-01-06  623.419983
2026-01-07  624.020020

[6543 rows x 1 columns]

In [29]:

ticker_df = load_df_dict_pickle("../../data/daa/daa_etf_prices.pkl")
ticker_df

,ITOT,PGJ,IYF,ISCB,DVY,EWS,IWD,IWS,QQQ,IEF
date_time,,,,,,,,,,
2004-01-23,16.868071,NaN,30.652689,NaN,24.961239,5.472544,36.283401,20.637369,32.116730,47.355595
2004-01-26,17.097685,NaN,30.955011,NaN,25.115892,5.480910,36.750343,20.791325,32.606808,47.157166
2004-01-27,16.959244,NaN,30.840801,NaN,25.056767,5.430703,36.489586,20.718628,31.888609,47.344631
2004-01-28,16.709379,NaN,30.263010,NaN,24.897575,5.271715,35.986233,20.462044,31.347822,47.002846
2004-01-29,16.800539,NaN,30.414179,NaN,24.888475,5.196406,36.065067,20.393627,31.466131,46.947704
...,...,...,...,...,...,...,...,...,...,...
2025-12-30,149.800003,29.129999,129.860001,65.610001,142.210007,27.740000,211.940002,142.380005,619.429993,96.480003
2025-12-31,148.690002,28.809999,128.929993,65.010002,141.139999,27.510000,210.339996,141.050003,614.309998,96.160004
2026-01-02,149.160004,30.070000,129.649994,65.620003,142.630005,27.750000,212.199997,142.619995,613.119995,96.080002
2026-01-05,150.250000,30.219999,132.779999,66.610001,143.600006,28.430000,214.619995,144.360001,617.989990,96.370003
2026-01-06,151.289993,29.980000,133.000000,67.540001,145.050003,28.860001,216.570007,146.240005,623.419983,96.300003

In [30]:
all_ticker_columns = random.sample(ticker_df.drop(columns=["QQQ", "IEF"]).columns.tolist(), 5)
all_ticker_columns

['DVY', 'IYF', 'EWS', 'PGJ', 'IWD']

In [31]:
result_portval_dict, top_10_portval_dict = daa_backtest(ticker_df, all_ticker_columns)

100it [01:14,  1.34it/s]

In [32]:
result_portval_dict

{'buy_and_hold': date_time
 2004-01-23     1.000000
 2004-01-26     1.005535
 2004-01-27     0.996333
 2004-01-28     0.984305
 2004-01-29     0.985565
                 ...
 2025-12-30    10.662092
 2025-12-31    10.579004
 2026-01-02    10.559633
 2026-01-05    10.638513
 2026-01-06    10.722309
 Length: 5524, dtype: float64,
 'DVY+EWS_IWD+PGJ_PGJ': date_time
 2005-12-30    1.000000
 2006-01-03    1.019557
 2006-01-04    1.024193
 2006-01-05    1.024483
 2006-01-06    1.032016
                 ...
 2025-12-30    5.539782
 2025-12-31    5.497961
 2026-01-02    5.546578
 2026-01-05    5.609833
 2026-01-06    5.660804
 Length: 5035, dtype: float64,
 'IWD+IYF_DVY+PGJ_EWS': date_time
 2005-12-30     1.000000
 2006-01-03     1.019809
 2006-01-04     1.030440
 2006-01-05     1.034760
 2006-01-06     1.048369
                 ...
 2025-12-30    10.141483
 2025-12-31    10.066052
 2026-01-02    10.155492
 2026-01-05    10.280128
 2026-01-06    10.359458
 Length: 5035, dtype: float64,
 'IYF+IWD_DVY+PGJ_IYF': date_time
 2005-12-30    1.000000
 2006-01-03    1.019809
 2006-01-04    1.030440
 2006-01-05    1.034760
 2006-01-06    1.048369
                 ...
 2025-12-30    8.052170
 2025-12-31    7.992279
 2026-01-02    8.063293
 2026-01-05    8.162252
 2026-01-06    8.225239
 Length: 5035, dtype: float64,
 'IWD+PGJ_EWS+DVY_IWD': date_time
 2005-12-30    1.000000
 2006-01-03    1.024221
 2006-01-04    1.035762
 2006-01-05    1.038270
 2006-01-06    1.052162
                 ...
 2025-12-30    6.459693
 2025-12-31    6.405579
 2026-01-02    6.517718
 2026-01-05    6.623647
 2026-01-06    6.675215
 Length: 5035, dtype: float64,
 'EWS+DVY_PGJ+IYF_DVY': date_time
 2005-12-30    1.000000
 2006-01-03    1.016422
 2006-01-04    1.016817
 2006-01-05    1.019389
 2006-01-06    1.025918
                 ...
 2025-12-30    5.098677
 2025-12-31    5.060292
 2026-01-02    5.098813
 2026-01-05    5.200202
 2026-01-06    5.237290
 Length: 5035, dtype: float64,
 'PGJ+IWD_EWS+DVY_DVY': date_time
 2005-12-30    1.000000
 2006-01-03    1.027848
 2006-01-04    1.039241
 2006-01-05    1.040506
 2006-01-06    1.054431
                 ...
 2025-12-30    5.876932
 2025-12-31    5.827699
 2026-01-02    5.929721
 2026-01-05    6.026094
 2026-01-06    6.073010
 Length: 5035, dtype: float64,
 'PGJ+IYF_DVY+IWD_DVY': date_time
 2005-12-30    1.000000
 2006-01-03    1.019557
 2006-01-04    1.024193
 2006-01-05    1.024483
 2006-01-06    1.032016
                 ...
 2025-12-30    6.353695
 2025-12-31    6.301080
 2026-01-02    6.406631
 2026-01-05    6.489322
 2026-01-06    6.508096
 Length: 5035, dtype: float64,
 'EWS+PGJ_IYF+IWD_IYF': date_time
 2005-12-30    1.000000
 2006-01-03    1.020580
 2006-01-04    1.028312
 2006-01-05    1.031717
 2006-01-06    1.043509
                 ...
 2025-12-30    4.059855
 2025-12-31    4.025051
 2026-01-02    4.089077
 2026-01-05    4.168047
 2026-01-06    4.178827
 Length: 5035, dtype: float64,
 'DVY+IWD_PGJ+IYF_IWD': date_time
 2005-12-30    1.000000
 2006-01-03    1.016936
 2006-01-04    1.019313
 2006-01-05    1.020835
 2006-01-06    1.027655
                 ...
 2025-12-30    4.403817
 2025-12-31    4.371464
 2026-01-02    4.404871
 2026-01-05    4.478018
 2026-01-06    4.503107
 Length: 5035, dtype: float64,
 'IYF+EWS_PGJ+DVY_PGJ': date_time
 2005-12-30    1.000000
 2006-01-03    1.021629
 2006-01-04    1.040375
 2006-01-05    1.047585
 2006-01-06    1.067772
                 ...
 2025-12-30    8.784217
 2025-12-31    8.718124
 2026-01-02    8.810160
 2026-01-05    8.870077
 2026-01-06    8.959642
 Length: 5035, dtype: float64,
 'EWS+IYF_IWD+PGJ_IWD': date_time
 2005-12-30    1.000000
 2006-01-03    1.020846
 2006-01-04    1.026111
 2006-01-05    1.027215
 2006-01-06    1.036095
                 ...
 2025-12-30    5.275192
 2025-12-31    5.234924
 2026-01-02    5.276796
 2026-01-05    5.371032
 2026-01-06    5.417987
 Length: 5035, dtype: float64,
 'DVY+IYF_EWS+IWD_EWS': date_time
 2005-01-31    1.000000
 2005-02-01    1.008538
 2005-02-02    1.005431
 2005-02-03    1.000711
 2005-02-04    1.008504
                 ...
 2025-12-30    6.062359
 2025-12-31    6.017228
 2026-01-02    6.068115
 2026-01-05    6.149588
 2026-01-06    6.195501
 Length: 5267, dtype: float64,
 'IWD+IYF_DVY+EWS_EWS': date_time
 2005-01-31    1.000000
 2005-02-01    1.008876
 2005-02-02    1.005631
 2005-02-03    1.000784
 2005-02-04    1.008810
                 ...
 2025-12-30    6.630390
 2025-12-31    6.581074
 2026-01-02    6.633518
 2026-01-05    6.773725
 2026-01-06    6.843219
 Length: 5267, dtype: float64,
 'IYF+DVY_EWS+PGJ_IYF': date_time
 2005-12-30    1.000000
 2006-01-03    1.021866
 2006-01-04    1.028681
 2006-01-05    1.030120
 2006-01-06    1.040387
                 ...
 2025-12-30    3.965620
 2025-12-31    3.934643
 2026-01-02    3.967683
 2026-01-05    4.046953
 2026-01-06    4.089487
 Length: 5035, dtype: float64,
 'IYF+PGJ_EWS+IWD_IYF': date_time
 2005-12-30    1.000000
 2006-01-03    1.023437
 2006-01-04    1.033918
 2006-01-05    1.036997
 2006-01-06    1.050638
                 ...
 2025-12-30    6.083009
 2025-12-31    6.032636
 2026-01-02    6.133690
 2026-01-05    6.212858
 2026-01-06    6.230832
 Length: 5035, dtype: float64,
 'IWD+IYF_EWS+PGJ_IYF': date_time
 2005-12-30    1.000000
 2006-01-03    1.022919
 2006-01-04    1.029873
 2006-01-05    1.031221
 2006-01-06    1.041699
                 ...
 2025-12-30    3.905222
 2025-12-31    3.874695
 2026-01-02    3.905572
 2026-01-05    3.988121
 2026-01-06    4.029037
 Length: 5035, dtype: float64,
 'IWD+PGJ_DVY+EWS_PGJ': date_time
 2005-12-30    1.000000
 2006-01-03    1.027848
 2006-01-04    1.039241
 2006-01-05    1.040506
 2006-01-06    1.054431
                 ...
 2025-12-30    6.730868
 2025-12-31    6.680224
 2026-01-02    6.738503
 2026-01-05    6.903626
 2026-01-06    7.008043
 Length: 5035, dtype: float64,
 'DVY+IYF_IWD+PGJ_IYF': date_time
 2005-12-30    1.000000
 2006-01-03    1.017720
 2006-01-04    1.021157
 2006-01-05    1.022108
 2006-01-06    1.029180
                 ...
 2025-12-30    6.381523
 2025-12-31    6.334017
 2026-01-02    6.387582
 2026-01-05    6.473344
 2026-01-06    6.521675
 Length: 5035, dtype: float64,
 'PGJ+DVY_EWS+IWD_PGJ': date_time
 2005-12-30    1.000000
 2006-01-03    1.027848
 2006-01-04    1.039241
 2006-01-05    1.040506
 2006-01-06    1.054431
                 ...
 2025-12-30    5.677974
 2025-12-31    5.635109
 2026-01-02    5.684939
 2026-01-05    5.749772
 2026-01-06    5.802014
 Length: 5035, dtype: float64,
 'PGJ+EWS_DVY+IWD_PGJ': date_time
 2005-12-30    1.000000
 2006-01-03    1.019557
 2006-01-04    1.024193
 2006-01-05    1.024483
 2006-01-06    1.032016
                 ...
 2025-12-30    5.859280
 2025-12-31    5.815047
 2026-01-02    5.866468
 2026-01-05    5.933371
 2026-01-06    5.987281
 Length: 5035, dtype: float64,
 'EWS+IYF_DVY+PGJ_EWS': date_time
 2005-12-30     1.000000
 2006-01-03     1.021882
 2006-01-04     1.034202
 2006-01-05     1.038766
 2006-01-06     1.053973
                 ...
 2025-12-30     9.808094
 2025-12-31     9.733343
 2026-01-02     9.819538
 2026-01-05     9.972206
 2026-01-06    10.064390
 Length: 5035, dtype: float64,
 'IWD+IYF_PGJ+EWS_DVY': date_time
 2005-12-30    1.000000
 2006-01-03    1.027848
 2006-01-04    1.039241
 2006-01-05    1.040506
 2006-01-06    1.054431
                 ...
 2025-12-30    3.374431
 2025-12-31    3.348054
 2026-01-02    3.374734
 2026-01-05    3.446063
 2026-01-06    3.481417
 Length: 5035, dtype: float64,
 'EWS+PGJ_IWD+DVY_IYF': date_time
 2005-12-30    1.000000
 2006-01-03    1.022148
 2006-01-04    1.032000
 2006-01-05    1.034264
 2006-01-06    1.046558
                 ...
 2025-12-30    5.618042
 2025-12-31    5.569879
 2026-01-02    5.667553
 2026-01-05    5.741264
 2026-01-06    5.777248
 Length: 5035, dtype: float64,
 'PGJ+IWD_DVY+EWS_EWS': date_time
 2005-12-30    1.000000
 2006-01-03    1.024221
 2006-01-04    1.035762
 2006-01-05    1.038270
 2006-01-06    1.052162
                 ...
 2025-12-30    5.713862
 2025-12-31    5.665996
 2026-01-02    5.765187
 2026-01-05    5.858886
 2026-01-06    5.904500
 Length: 5035, dtype: float64,
 'EWS+PGJ_IWD+IYF_DVY': date_time
 2005-12-30    1.000000
 2006-01-03    1.016422
 2006-01-04    1.016817
 2006-01-05    1.019389
 2006-01-06    1.025918
                 ...
 2025-12-30    5.029293
 2025-12-31    4.986178
 2026-01-02    5.065492
 2026-01-05    5.163319
 2026-01-06    5.176673
 Length: 5035, dtype: float64,
 'IYF+PGJ_DVY+EWS_PGJ': date_time
 2005-12-30    1.000000
 2006-01-03    1.027848
 2006-01-04    1.039241
 2006-01-05    1.040506
 2006-01-06    1.054431
                 ...
 2025-12-30    7.004449
 2025-12-31    6.951747
 2026-01-02    7.012395
 2026-01-05    7.184230
 2026-01-06    7.292891
 Length: 5035, dtype: float64,
 'PGJ+EWS_IWD+DVY_DVY': date_time
 2005-12-30    1.000000
 2006-01-03    1.019557
 2006-01-04    1.024193
 2006-01-05    1.024483
 2006-01-06    1.032016
                 ...
 2025-12-30    6.250790
 2025-12-31    6.197203
 2026-01-02    6.305878
 2026-01-05    6.387890
 2026-01-06    6.427927
 Length: 5035, dtype: float64,
 'IWD+DVY_IYF+PGJ_PGJ': date_time
 2005-12-30    1.000000
 2006-01-03    1.016422
 2006-01-04    1.016817
 2006-01-05    1.019389
 2006-01-06    1.025918
                 ...
 2025-12-30    5.050429
 2025-12-31    5.014260
 2026-01-02    5.042262
 2026-01-05    5.163992
 2026-01-06    5.172548
 Length: 5035, dtype: float64,
 'EWS+PGJ_IYF+DVY_IWD': date_time
 2005-12-30    1.000000
 2006-01-03    1.020580
 2006-01-04    1.028312
 2006-01-05    1.031717
 2006-01-06    1.043509
                 ...
 2025-12-30    7.936034
 2025-12-31    7.868050
 2026-01-02    7.993207
 2026-01-05    8.147574
 2026-01-06    8.168647
 Length: 5035, dtype: float64,
 'DVY+EWS_PGJ+IWD_IYF': date_time
 2005-12-30    1.000000
 2006-01-03    1.020577
 2006-01-04    1.026763
 2006-01-05    1.027388
 2006-01-06    1.036308
                 ...
 2025-12-30    5.789263
 2025-12-31    5.744528
 2026-01-02    5.797617
 2026-01-05    5.876031
 2026-01-06    5.939861
 Length: 5035, dtype: float64,
 'EWS+PGJ_IWD+DVY_EWS': date_time
 2005-12-30    1.000000
 2006-01-03    1.022148
 2006-01-04    1.032000
 2006-01-05    1.034264
 2006-01-06    1.046558
                 ...
 2025-12-30    5.458115
 2025-12-31    5.411324
 2026-01-02    5.506218
 2026-01-05    5.577830
 2026-01-06    5.612789
 Length: 5035, dtype: float64,
 'IYF+PGJ_DVY+IWD_IWD': date_time
 2005-12-30    1.000000
 2006-01-03    1.019291
 2006-01-04    1.026394
 2006-01-05    1.028985
 2006-01-06    1.039430
                 ...
 2025-12-30    6.983671
 2025-12-31    6.925839
 2026-01-02    7.041855
 2026-01-05    7.132746
 2026-01-06    7.153381
 Length: 5035, dtype: float64,
 'IWD+EWS_DVY+IYF_DVY': date_time
 2005-01-31    1.000000
 2005-02-01    1.009402
 2005-02-02    1.008081
 2005-02-03    1.003945
 2005-02-04    1.014078
                 ...
 2025-12-30    6.780222
 2025-12-31    6.727868
 2026-01-02    6.776201
 2026-01-05    6.918793
 2026-01-06    6.966416
 Length: 5267, dtype: float64,
 'EWS+DVY_IYF+IWD_PGJ': date_time
 2005-12-30    1.000000
 2006-01-03    1.016422
 2006-01-04    1.016817
 2006-01-05    1.019389
 2006-01-06    1.025918
                 ...
 2025-12-30    3.940349
 2025-12-31    3.910602
 2026-01-02    3.932440
 2026-01-05    4.027377
 2026-01-06    4.034050
 Length: 5035, dtype: float64,
 'PGJ+IYF_DVY+EWS_DVY': date_time
 2005-12-30    1.000000
 2006-01-03    1.027848
 2006-01-04    1.039241
 2006-01-05    1.040506
 2006-01-06    1.054431
                 ...
 2025-12-30    6.065025
 2025-12-31    6.014849
 2026-01-02    6.115248
 2026-01-05    6.233921
 2026-01-06    6.270968
 Length: 5035, dtype: float64,
 'EWS+DVY_IWD+IYF_IWD': date_time
 2005-01-31    1.000000
 2005-02-01    1.008272
 2005-02-02    1.009345
 2005-02-03    1.006495
 2005-02-04    1.015800
                 ...
 2025-12-30    4.820429
 2025-12-31    4.783180
 2026-01-02    4.819592
 2026-01-05    4.915428
 2026-01-06    4.950485
 Length: 5267, dtype: float64,
 'PGJ+DVY_IWD+EWS_DVY': date_time
 2005-12-30    1.000000
 2006-01-03    1.027848
 2006-01-04    1.039241
 2006-01-05    1.040506
 2006-01-06    1.054431
                 ...
 2025-12-30    5.871894
 2025-12-31    5.822681
 2026-01-02    5.927457
 2026-01-05    5.978535
 2026-01-06    6.008354
 Length: 5035, dtype: float64,
 'IWD+EWS_PGJ+IYF_IWD': date_time
 2005-12-30    1.000000
 2006-01-03    1.020062
 2006-01-04    1.024267
 2006-01-05    1.025942
 2006-01-06    1.034570
                 ...
 2025-12-30    4.501710
 2025-12-31    4.467791
 2026-01-02    4.499888
 2026-01-05    4.594579
 2026-01-06    4.626205
 Length: 5035, dtype: float64,
 'PGJ+IYF_EWS+IWD_PGJ': date_time
 2005-12-30    1.000000
 2006-01-03    1.027848
 2006-01-04    1.039241
 2006-01-05    1.040506
 2006-01-06    1.054431
                 ...
 2025-12-30    6.146859
 2025-12-31    6.100454
 2026-01-02    6.154399
 2026-01-05    6.224586
 2026-01-06    6.281142
 Length: 5035, dtype: float64,
 'IWD+EWS_DVY+PGJ_PGJ': date_time
 2005-12-30    1.000000
 2006-01-03    1.021629
 2006-01-04    1.040375
 2006-01-05    1.047585
 2006-01-06    1.067772
                 ...
 2025-12-30    8.442137
 2025-12-31    8.378617
 2026-01-02    8.467070
 2026-01-05    8.524653
 2026-01-06    8.610730
 Length: 5035, dtype: float64,
 'IWD+IYF_PGJ+DVY_DVY': date_time
 2005-12-30    1.000000
 2006-01-03    1.021629
 2006-01-04    1.040375
 2006-01-05    1.047585
 2006-01-06    1.067772
                 ...
 2025-12-30    7.439313
 2025-12-31    7.383981
 2026-01-02    7.449590
 2026-01-05    7.541017
 2026-01-06    7.599210
 Length: 5035, dtype: float64,
 'PGJ+IWD_DVY+IYF_EWS': date_time
 2005-12-30    1.000000
 2006-01-03    1.018507
 2006-01-04    1.024550
 2006-01-05    1.027711
 2006-01-06    1.037906
                 ...
 2025-12-30    6.131062
 2025-12-31    6.079700
 2026-01-02    6.176590
 2026-01-05    6.275789
 2026-01-06    6.282405
 Length: 5035, dtype: float64,
 'DVY+IYF_IWD+PGJ_PGJ': date_time
 2005-12-30    1.000000
 2006-01-03    1.019557
 2006-01-04    1.024193
 2006-01-05    1.024483
 2006-01-06    1.032016
                 ...
 2025-12-30    6.056321
 2025-12-31    6.010600
 2026-01-02    6.063750
 2026-01-05    6.132903
 2026-01-06    6.188626
 Length: 5035, dtype: float64,
 'EWS+IYF_DVY+IWD_IWD': date_time
 2005-01-31    1.000000
 2005-02-01    1.009006
 2005-02-02    1.008813
 2005-02-03    1.005257
 2005-02-04    1.015092
                 ...
 2025-12-30    6.354995
 2025-12-31    6.306485
 2026-01-02    6.356928
 2026-01-05    6.470453
 2026-01-06    6.527020
 Length: 5267, dtype: float64,
 'EWS+IYF_DVY+IWD_EWS': date_time
 2005-01-31    1.000000
 2005-02-01    1.009006
 2005-02-02    1.008813
 2005-02-03    1.005257
 2005-02-04    1.015092
                 ...
 2025-12-30    6.261879
 2025-12-31    6.214080
 2026-01-02    6.263784
 2026-01-05    6.375646
 2026-01-06    6.431384
 Length: 5267, dtype: float64,
 'EWS+IYF_IWD+PGJ_IYF': date_time
 2005-12-30    1.000000
 2006-01-03    1.020846
 2006-01-04    1.026111
 2006-01-05    1.027215
 2006-01-06    1.036095
                 ...
 2025-12-30    6.182037
 2025-12-31    6.134847
 2026-01-02    6.183917
 2026-01-05    6.294353
 2026-01-06    6.349380
 Length: 5035, dtype: float64,
 'DVY+PGJ_IWD+IYF_EWS': date_time
 2005-12-30    1.000000
 2006-01-03    1.017454
 2006-01-04    1.023358
 2006-01-05    1.026610
 2006-01-06    1.036594
                 ...
 2025-12-30    3.907082
 2025-12-31    3.874337
 2026-01-02    3.937741
 2026-01-05    3.996469
 2026-01-06    4.001657
 Length: 5035, dtype: float64,
 'EWS+DVY_IYF+PGJ_IYF': date_time
 2005-12-30    1.000000
 2006-01-03    1.019009
 2006-01-04    1.023075
 2006-01-05    1.024841
 2006-01-06    1.033259
                 ...
 2025-12-30    4.977708
 2025-12-31    4.940234
 2026-01-02    4.977841
 2026-01-05    5.076824
 2026-01-06    5.113032
 Length: 5035, dtype: float64,
 'PGJ+DVY_IYF+EWS_DVY': date_time
 2005-12-30    1.000000
 2006-01-03    1.027848
 2006-01-04    1.039241
 2006-01-05    1.040506
 2006-01-06    1.054431
                 ...
 2025-12-30    4.267471
 2025-12-31    4.232589
 2026-01-02    4.301856
 2026-01-05    4.366014
 2026-01-06    4.371681
 Length: 5035, dtype: float64,
 'IYF+DVY_EWS+IWD_IWD': date_time
 2005-01-31    1.000000
 2005-02-01    1.008538
 2005-02-02    1.005431
 2005-02-03    1.000711
 2005-02-04    1.008504
                 ...
 2025-12-30    6.034981
 2025-12-31    5.990054
 2026-01-02    6.040710
 2026-01-05    6.121815
 2026-01-06    6.167521
 Length: 5267, dtype: float64,
 'PGJ+IWD_IYF+DVY_PGJ': date_time
 2005-12-30    1.000000
 2006-01-03    1.016422
 2006-01-04    1.016817
 2006-01-05    1.019389
 2006-01-06    1.025918
                 ...
 2025-12-30    6.686934
 2025-12-31    6.636621
 2026-01-02    6.673682
 2026-01-05    6.834798
 2026-01-06    6.846123
 Length: 5035, dtype: float64,
 'PGJ+IYF_IWD+EWS_DVY': date_time
 2005-12-30    1.000000
 2006-01-03    1.027848
 2006-01-04    1.039241
 2006-01-05    1.040506
 2006-01-06    1.054431
                 ...
 2025-12-30    5.928847
 2025-12-31    5.879750
 2026-01-02    5.978243
 2026-01-05    6.055406
 2026-01-06    6.072923
 Length: 5035, dtype: float64,
 'DVY+EWS_IWD+IYF_EWS': date_time
 2005-01-31    1.000000
 2005-02-01    1.008272
 2005-02-02    1.009345
 2005-02-03    1.006495
 2005-02-04    1.015800
                 ...
 2025-12-30    4.230944
 2025-12-31    4.198250
 2026-01-02    4.230209
 2026-01-05    4.314326
 2026-01-06    4.345095
 Length: 5267, dtype: float64,
 'DVY+PGJ_IWD+EWS_IWD': date_time
 2005-12-30    1.000000
 2006-01-03    1.023168
 2006-01-04    1.034570
 2006-01-05    1.037169
 2006-01-06    1.050851
                 ...
 2025-12-30    6.525038
 2025-12-31    6.470352
 2026-01-02    6.586781
 2026-01-05    6.643542
 2026-01-06    6.676677
 Length: 5035, dtype: float64,
 'IWD+PGJ_IYF+EWS_DVY': date_time
 2005-12-30    1.000000
 2006-01-03    1.027848
 2006-01-04    1.039241
 2006-01-05    1.040506
 2006-01-06    1.054431
                 ...
 2025-12-30    4.177135
 2025-12-31    4.142973
 2026-01-02    4.208998
 2026-01-05    4.276596
 2026-01-06    4.281105
 Length: 5035, dtype: float64,
 'IYF+EWS_PGJ+IWD_PGJ': date_time
 2005-12-30    1.000000
 2006-01-03    1.019557
 2006-01-04    1.024193
 2006-01-05    1.024483
 2006-01-06    1.032016
                 ...
 2025-12-30    6.003504
 2025-12-31    5.958182
 2026-01-02    6.010869
 2026-01-05    6.079419
 2026-01-06    6.134656
 Length: 5035, dtype: float64,
 'IYF+PGJ_EWS+IWD_EWS': date_time
 2005-12-30    1.000000
 2006-01-03    1.023437
 2006-01-04    1.033918
 2006-01-05    1.036997
 2006-01-06    1.050638
                 ...
 2025-12-30    5.644033
 2025-12-31    5.597295
 2026-01-02    5.691056
 2026-01-05    5.764512
 2026-01-06    5.781188
 Length: 5035, dtype: float64,
 'DVY+IWD_PGJ+IYF_EWS': date_time
 2005-12-30    1.000000
 2006-01-03    1.016936
 2006-01-04    1.019313
 2006-01-05    1.020835
 2006-01-06    1.027655
                 ...
 2025-12-30    4.847768
 2025-12-31    4.812152
 2026-01-02    4.848928
 2026-01-05    4.929449
 2026-01-06    4.957067
 Length: 5035, dtype: float64,
 'IYF+DVY_PGJ+EWS_EWS': date_time
 2005-12-30    1.000000
 2006-01-03    1.021866
 2006-01-04    1.028681
 2006-01-05    1.030120
 2006-01-06    1.040387
                 ...
 2025-12-30    3.856391
 2025-12-31    3.826266
 2026-01-02    3.858397
 2026-01-05    3.935483
 2026-01-06    3.976846
 Length: 5035, dtype: float64,
 'EWS+DVY_IWD+PGJ_DVY': date_time
 2005-12-30    1.000000
 2006-01-03    1.019557
 2006-01-04    1.024193
 2006-01-05    1.024483
 2006-01-06    1.032016
                 ...
 2025-12-30    5.446485
 2025-12-31    5.404398
 2026-01-02    5.454344
 2026-01-05    5.528116
 2026-01-06    5.588166
 Length: 5035, dtype: float64,
 'IYF+IWD_EWS+PGJ_IWD': date_time
 2005-12-30    1.000000
 2006-01-03    1.022919

In [46]:
df = top_10_portval_dict['top_10_sharpe_ratio']
df

                     Sharpe Ratio
buy_and_hold             0.641379
IWD+IYF_DVY+PGJ_EWS      0.405622
EWS+IYF_DVY+PGJ_EWS      0.393903
IYF+EWS_PGJ+DVY_PGJ      0.379048
IWD+EWS_DVY+PGJ_PGJ      0.376989
EWS+PGJ_IYF+DVY_IWD      0.360679
IWD+PGJ_DVY+IYF_IWD      0.357372
EWS+PGJ_DVY+IWD_IWD      0.355747
IYF+PGJ_DVY+IWD_IWD      0.354545
IYF+PGJ_DVY+EWS_PGJ      0.350882

In [48]:
df[df['Sharpe Ratio'] > 0.4].index

Index(['buy_and_hold', 'IWD+IYF_DVY+PGJ_EWS'], dtype='object')

In [49]:
df2 = top_10_portval_dict['top_10_cagr']
df2

                         CAGR
IWD+IYF_DVY+PGJ_EWS  0.123088
buy_and_hold         0.121484
EWS+IYF_DVY+PGJ_EWS  0.121478
IYF+EWS_PGJ+DVY_PGJ  0.115022
IWD+EWS_DVY+PGJ_PGJ  0.112825
IYF+IWD_DVY+PGJ_IYF  0.110297
EWS+PGJ_IYF+DVY_IWD  0.109917
EWS+IYF_PGJ+DVY_IYF  0.109562
IWD+PGJ_DVY+IYF_IWD  0.108288
IWD+IYF_PGJ+DVY_DVY  0.105942

In [52]:
df2[df2['CAGR'] > 0.12].index

Index(['IWD+IYF_DVY+PGJ_EWS', 'buy_and_hold', 'EWS+IYF_DVY+PGJ_EWS'], dtype='object')

In [54]:
result_portval_dict[df2[df2['CAGR'] > 0.12].index[0]]

date_time
2005-12-30     1.000000
2006-01-03     1.019809
2006-01-04     1.030440
2006-01-05     1.034760
2006-01-06     1.048369
                ...
2025-12-30    10.141483
2025-12-31    10.066052
2026-01-02    10.155492
2026-01-05    10.280128
2026-01-06    10.359458
Length: 5035, dtype: float64

In [59]:
compare_df = pd.DataFrame(result_portval_dict).dropna()
compare_df.head()

,buy_and_hold,DVY+EWS_IWD+PGJ_PGJ,IWD+IYF_DVY+PGJ_EWS,IYF+IWD_DVY+PGJ_IYF,IWD+PGJ_EWS+DVY_IWD,EWS+DVY_PGJ+IYF_DVY,PGJ+IWD_EWS+DVY_DVY,PGJ+IYF_DVY+IWD_DVY,EWS+PGJ_IYF+IWD_IYF,DVY+IWD_PGJ+IYF_IWD,...,DVY+PGJ_EWS+IYF_PGJ,PGJ+EWS_IYF+DVY_DVY,IYF+IWD_EWS+DVY_IYF,EWS+IYF_DVY+IWD_IYF,PGJ+DVY_IWD+EWS_EWS,IWD+EWS_DVY+IYF_EWS,IYF+IWD_DVY+EWS_IWD,EWS+IYF_PGJ+DVY_IYF,DVY+IYF_IWD+EWS_DVY,IWD+EWS_IYF+DVY_IWD
date_time,,,,,,,,,,,,,,,,,,,,,
2005-12-30,1.065262,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.095365,1.077826,1.000000,1.116807,1.077704,1.000000,1.082828,1.116807
2006-01-03,1.077191,1.019557,1.019809,1.019809,1.024221,1.016422,1.027848,1.019557,1.020580,1.016936,...,1.027848,1.016422,1.120469,1.100294,1.023168,1.139212,1.102404,1.021882,1.112984,1.139212
2006-01-04,1.083862,1.024193,1.030440,1.030440,1.035762,1.016817,1.039241,1.024193,1.028312,1.019313,...,1.039241,1.016817,1.128086,1.105969,1.034570,1.143908,1.109898,1.034202,1.125319,1.143908
2006-01-05,1.086386,1.024483,1.034760,1.034760,1.038270,1.019389,1.040506,1.024483,1.031717,1.020835,...,1.040506,1.019389,1.129563,1.107159,1.037169,1.145779,1.111352,1.038766,1.126690,1.145779
2006-01-06,1.095822,1.032016,1.048369,1.048369,1.052162,1.025918,1.054431,1.032016,1.043509,1.027655,...,1.054431,1.025918,1.141040,1.116730,1.050851,1.155415,1.122643,1.053973,1.141767,1.155415

In [68]:
sr_df = get_sharpe_ratio(get_returns_df(compare_df, log=True)).to_frame("Sharpe Ratio")
sr_df

                     Sharpe Ratio
buy_and_hold             0.641379
DVY+EWS_IWD+PGJ_PGJ      0.281193
IWD+IYF_DVY+PGJ_EWS      0.405622
IYF+IWD_DVY+PGJ_IYF      0.350294
IWD+PGJ_EWS+DVY_IWD      0.326485
...                           ...
IWD+EWS_DVY+IYF_EWS      0.312553
IYF+IWD_DVY+EWS_IWD      0.301321
EWS+IYF_PGJ+DVY_IYF      0.344663
DVY+IYF_IWD+EWS_DVY      0.294665
IWD+EWS_IYF+DVY_IWD      0.334158

[101 rows x 1 columns]

In [69]:
cg_df = get_CAGR_series(compare_df).to_frame("CAGR")
cg_df

                         CAGR
buy_and_hold         0.125010
DVY+EWS_IWD+PGJ_PGJ  0.089889
IWD+IYF_DVY+PGJ_EWS  0.123088
IYF+IWD_DVY+PGJ_IYF  0.110297
IWD+PGJ_EWS+DVY_IWD  0.098846
...                       ...
IWD+EWS_DVY+IYF_EWS  0.100756
IYF+IWD_DVY+EWS_IWD  0.094294
EWS+IYF_PGJ+DVY_IYF  0.109562
DVY+IYF_IWD+EWS_DVY  0.093014
IWD+EWS_IYF+DVY_IWD  0.105232

[101 rows x 1 columns]

In [65]:
dd_df, mdd_series, longest_dd_period_df = get_drawdown_infos(compare_df)

In [70]:
md_df = mdd_series.to_frame("MDD")
md_df

                          MDD
buy_and_hold        -0.325028
DVY+EWS_IWD+PGJ_PGJ -0.686336
IWD+IYF_DVY+PGJ_EWS -0.615763
IYF+IWD_DVY+PGJ_IYF -0.660914
IWD+PGJ_EWS+DVY_IWD -0.588668
...                       ...
IWD+EWS_DVY+IYF_EWS -0.616383
IYF+IWD_DVY+EWS_IWD -0.603929
EWS+IYF_PGJ+DVY_IYF -0.659848
DVY+IYF_IWD+EWS_DVY -0.612272
IWD+EWS_IYF+DVY_IWD -0.617221

[101 rows x 1 columns]

In [74]:
tot_df = pd.concat([sr_df, cg_df, md_df], axis=1)
tot_df

                     Sharpe Ratio      CAGR       MDD
buy_and_hold             0.641379  0.125010 -0.325028
DVY+EWS_IWD+PGJ_PGJ      0.281193  0.089889 -0.686336
IWD+IYF_DVY+PGJ_EWS      0.405622  0.123088 -0.615763
IYF+IWD_DVY+PGJ_IYF      0.350294  0.110297 -0.660914
IWD+PGJ_EWS+DVY_IWD      0.326485  0.098846 -0.588668
...                           ...       ...       ...
IWD+EWS_DVY+IYF_EWS      0.312553  0.100756 -0.616383
IYF+IWD_DVY+EWS_IWD      0.301321  0.094294 -0.603929
EWS+IYF_PGJ+DVY_IYF      0.344663  0.109562 -0.659848
DVY+IYF_IWD+EWS_DVY      0.294665  0.093014 -0.612272
IWD+EWS_IYF+DVY_IWD      0.334158  0.105232 -0.617221

[101 rows x 3 columns]

In [95]:
cond1 = tot_df['CAGR'] > 0.05
cond2 = tot_df['Sharpe Ratio'] > 0.10
cond3 = tot_df['MDD'] > -0.6

In [97]:
res_df = tot_df[cond1 & cond2 & cond3]
res_df

                     Sharpe Ratio      CAGR       MDD
buy_and_hold             0.641379  0.125010 -0.325028
IWD+PGJ_EWS+DVY_IWD      0.326485  0.098846 -0.588668
IWD+IYF_DVY+EWS_EWS      0.331978  0.100203 -0.595263
EWS+PGJ_IWD+DVY_IYF      0.306199  0.090991 -0.569731
PGJ+IWD_DVY+EWS_EWS      0.303885  0.092172 -0.591170
EWS+PGJ_IWD+DVY_EWS      0.299766  0.089428 -0.594038
IYF+PGJ_DVY+IWD_IWD      0.354545  0.102627 -0.581686
EWS+IYF_DVY+IWD_IWD      0.331596  0.097621 -0.592331
EWS+PGJ_DVY+IWD_IWD      0.355747  0.102565 -0.574977
PGJ+IYF_IWD+DVY_EWS      0.316555  0.093567 -0.597675
EWS+IYF_DVY+IWD_IYF      0.337438  0.098802 -0.582330

In [116]:
compare_df = pd.DataFrame(result_portval_dict).dropna()
compare_df.head()

,buy_and_hold,DVY+EWS_IWD+PGJ_PGJ,IWD+IYF_DVY+PGJ_EWS,IYF+IWD_DVY+PGJ_IYF,IWD+PGJ_EWS+DVY_IWD,EWS+DVY_PGJ+IYF_DVY,PGJ+IWD_EWS+DVY_DVY,PGJ+IYF_DVY+IWD_DVY,EWS+PGJ_IYF+IWD_IYF,DVY+IWD_PGJ+IYF_IWD,...,DVY+PGJ_EWS+IYF_PGJ,PGJ+EWS_IYF+DVY_DVY,IYF+IWD_EWS+DVY_IYF,EWS+IYF_DVY+IWD_IYF,PGJ+DVY_IWD+EWS_EWS,IWD+EWS_DVY+IYF_EWS,IYF+IWD_DVY+EWS_IWD,EWS+IYF_PGJ+DVY_IYF,DVY+IYF_IWD+EWS_DVY,IWD+EWS_IYF+DVY_IWD
date_time,,,,,,,,,,,,,,,,,,,,,
2005-12-30,1.065262,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.095365,1.077826,1.000000,1.116807,1.077704,1.000000,1.082828,1.116807
2006-01-03,1.077191,1.019557,1.019809,1.019809,1.024221,1.016422,1.027848,1.019557,1.020580,1.016936,...,1.027848,1.016422,1.120469,1.100294,1.023168,1.139212,1.102404,1.021882,1.112984,1.139212
2006-01-04,1.083862,1.024193,1.030440,1.030440,1.035762,1.016817,1.039241,1.024193,1.028312,1.019313,...,1.039241,1.016817,1.128086,1.105969,1.034570,1.143908,1.109898,1.034202,1.125319,1.143908
2006-01-05,1.086386,1.024483,1.034760,1.034760,1.038270,1.019389,1.040506,1.024483,1.031717,1.020835,...,1.040506,1.019389,1.129563,1.107159,1.037169,1.145779,1.111352,1.038766,1.126690,1.145779
2006-01-06,1.095822,1.032016,1.048369,1.048369,1.052162,1.025918,1.054431,1.032016,1.043509,1.027655,...,1.054431,1.025918,1.141040,1.116730,1.050851,1.155415,1.122643,1.053973,1.141767,1.155415

In [120]:
res_df.index.to_list()

['buy_and_hold',
 'EWT+VIS_IEF+QQQ_EWT',
 'IWN+VIS_QQQ+EWT+ONEQ_IWN',
 'EWT+QQQ_IWN+IEF+VIS+ONEQ_IEF',
 'EWT+ONEQ+IWN_VIS+IEF_ONEQ',
 'PPH+QQQ_VIS+EWT+IWN+IEF_VIS',
 'PPH+IWN_EWT+VIS+IEF_PPH',
 'QQQ+IWN+ONEQ_VIS+IEF_PPH',
 'PPH+VIS+IWN_QQQ+ONEQ+IEF_ONEQ',
 'QQQ+VIS+IEF_IWN+PPH+EWT_ONEQ+QQQ',
 'EWT+VIS+QQQ_PPH+ONEQ+IEF_ONEQ+PPH',
 'IEF+ONEQ_QQQ+IWN_VIS',
 'IEF+QQQ+PPH_ONEQ+EWT+VIS_IWN',
 'ONEQ+QQQ+IWN_VIS+PPH_ONEQ',
 'PPH+IWN+EWT_ONEQ+IEF_IEF',
 'IEF+IWN+ONEQ_PPH+EWT_IWN',
 'VIS+ONEQ_IWN+IEF+QQQ_QQQ',
 'EWT+VIS+ONEQ+QQQ_IWN+IEF_QQQ',
 'PPH+EWT+VIS_IWN+QQQ_VIS',
 'IWN+VIS_IEF+EWT+QQQ_PPH',
 'IEF+VIS+QQQ_PPH+EWT_QQQ',
 'ONEQ+QQQ+IWN+EWT_PPH+VIS_IWN',
 'VIS+EWT+IWN+ONEQ_IEF+PPH_IWN',
 'PPH+ONEQ_EWT+IEF_QQQ',
 'QQQ+ONEQ+IEF_EWT+VIS+PPH_QQQ+IWN',
 'IWN+PPH_QQQ+IEF+VIS+EWT_VIS',
 'PPH+IWN+EWT_VIS+ONEQ_EWT',
 'VIS+PPH+ONEQ_IWN+QQQ_ONEQ',
 'QQQ+PPH+VIS_EWT+IWN_IEF',
 'IEF+VIS+ONEQ_QQQ+IWN_VIS',
 'IEF+PPH_QQQ+IWN+ONEQ_QQQ',
 'IWN+QQQ_EWT+VIS+IEF_QQQ',
 'VIS+PPH+ONEQ+IWN_IEF+QQQ_IEF',
 'QQQ+IEF_EWT+PPH+IWN_ONEQ',
 'VIS+IWN_IEF+PPH+EWT_EWT',
 'IWN+ONEQ_QQQ+IEF_PPH',
 'IEF+VIS+EWT+IWN_QQQ+PPH_IWN',
 'EWT+IEF+QQQ_VIS+ONEQ_ONEQ',
 'ONEQ+IEF_IWN+VIS+QQQ+EWT_IEF',
 'VIS+IEF_PPH+ONEQ+EWT_VIS',
 'IWN+VIS_QQQ+EWT+ONEQ+IEF_ONEQ',
 'ONEQ+IWN_VIS+QQQ+EWT+PPH_IWN',
 'IWN+ONEQ+PPH_IEF+QQQ+VIS_VIS+IWN',
 'IWN+IEF+QQQ_ONEQ+VIS+EWT_IWN+EWT',
 'ONEQ+IWN+QQQ_PPH+IEF_IWN',
 'PPH+IEF+IWN_EWT+VIS_VIS',
 'PPH+VIS_ONEQ+QQQ+IWN_EWT',
 'QQQ+PPH_EWT+IEF_IWN',
 'QQQ+PPH+IWN_IEF+ONEQ_QQQ',
 'IEF+PPH_IWN+QQQ+EWT+VIS_QQQ',
 'IWN+IEF_PPH+QQQ+EWT+VIS_QQQ',
 'IWN+PPH_VIS+EWT+ONEQ_IWN',
 'QQQ+ONEQ+PPH+EWT_IEF+IWN_IWN',
 'VIS+QQQ+ONEQ_EWT+IWN_EWT',
 'EWT+IWN+IEF_ONEQ+QQQ+PPH_IWN+EWT',
 'VIS+PPH_QQQ+EWT+ONEQ_ONEQ',
 'EWT+IWN_ONEQ+IEF+PPH_IWN',
 'PPH+VIS+QQQ_IWN+IEF+EWT_VIS+ONEQ',
 'ONEQ+VIS_IWN+PPH_PPH',
 'IWN+IEF_EWT+PPH_ONEQ',
 'QQQ+ONEQ+IWN+IEF_EWT+PPH_VIS',
 'EWT+QQQ+IEF_PPH+VIS+ONEQ_IWN+QQQ',
 'VIS+EWT+PPH_IEF+QQQ+IWN_IWN+IEF',
 'PPH+IWN_IEF+VIS+QQQ_VIS',
 'ONEQ+IWN+VIS+PPH_IEF+QQQ_IWN',
 'EWT+QQQ_ONEQ+IWN_IEF',
 'ONEQ+QQQ_PPH+EWT+IEF_EWT',
 'IWN+QQQ_ONEQ+EWT+IEF+VIS_QQQ',
 'VIS+IWN_IEF+ONEQ+QQQ+PPH_QQQ',
 'VIS+ONEQ_QQQ+PPH+IWN_IWN',
 'ONEQ+PPH+IEF_EWT+VIS_QQQ',
 'PPH+ONEQ_IEF+EWT_ONEQ',
 'VIS+IWN+EWT+ONEQ_QQQ+PPH_IEF',
 'EWT+PPH_ONEQ+VIS_VIS',
 'ONEQ+IWN+VIS_QQQ+EWT_ONEQ',
 'IEF+VIS+QQQ_PPH+IWN_ONEQ',
 'QQQ+ONEQ_VIS+IWN+EWT_EWT',
 'IWN+PPH+IEF_ONEQ+VIS+QQQ_VIS',
 'QQQ+IEF+EWT_PPH+ONEQ+VIS_IWN+ONEQ',
 'IEF+ONEQ+PPH+QQQ_EWT+VIS_PPH',
 'IEF+ONEQ_QQQ+IWN+PPH+EWT_IWN',
 'PPH+IWN_ONEQ+VIS+QQQ_QQQ',
 'PPH+QQQ_EWT+IEF+ONEQ_IWN',
 'IEF+IWN+ONEQ_VIS+QQQ_VIS',
 'ONEQ+IWN+QQQ+VIS_EWT+IEF_IEF',
 'PPH+IEF_VIS+IWN_EWT',
 'ONEQ+VIS+IWN+PPH_IEF+QQQ_EWT',
 'QQQ+PPH+IEF_VIS+ONEQ+IWN_PPH+VIS',
 'IWN+PPH+QQQ_IEF+EWT+ONEQ_EWT+IEF',
 'VIS+QQQ+PPH_ONEQ+EWT_QQQ',
 'PPH+ONEQ_QQQ+IEF+IWN+VIS_EWT',
 'EWT+ONEQ+VIS+IWN_IEF+PPH_VIS',
 'IEF+QQQ_ONEQ+VIS+PPH+IWN_ONEQ',
 'ONEQ+VIS+IWN+EWT_IEF+QQQ_EWT',
 'EWT+XLK+IEF+XLB_PPH+QQQ_IEF']

In [99]:
compare_df[res_df.index[1]]

date_time
2005-12-30    1.000000
2006-01-03    1.024221
2006-01-04    1.035762
2006-01-05    1.038270
2006-01-06    1.052162
                ...
2025-12-30    6.459693
2025-12-31    6.405579
2026-01-02    6.517718
2026-01-05    6.623647
2026-01-06    6.675215
Name: IWD+PGJ_EWS+DVY_IWD, Length: 5035, dtype: float64

In [100]:
pd.read_parquet("../../backtest/daa_backtest_outputs/20260108/daa_res_193157.parquet")

                               Sharpe Ratio      CAGR       MDD
buy_and_hold                       0.629120  0.146882 -0.331175
EWT+VIS_IEF+QQQ_EWT                0.718033  0.140814 -0.331919
IWN+VIS_QQQ+EWT+ONEQ_IWN           0.416684  0.120642 -0.562377
EWT+QQQ_IWN+IEF+VIS+ONEQ_IEF       0.572502  0.128962 -0.320403
EWT+ONEQ+IWN_VIS+IEF_ONEQ          0.544802  0.104845 -0.289808
...                                     ...       ...       ...
VIS+QQQ+PPH_ONEQ+EWT_QQQ           0.427773  0.118867 -0.555863
PPH+ONEQ_QQQ+IEF+IWN+VIS_EWT       0.589448  0.121463 -0.366415
EWT+ONEQ+VIS+IWN_IEF+PPH_VIS       0.508014  0.089422 -0.240496
IEF+QQQ_ONEQ+VIS+PPH+IWN_ONEQ      0.402498  0.098042 -0.443239
ONEQ+VIS+IWN+EWT_IEF+QQQ_EWT       0.688221  0.138071 -0.334163

[94 rows x 3 columns]

In [101]:
pd.read_parquet("../../backtest/daa_backtest_outputs/20260108/daa_res_193503.parquet")

                             Sharpe Ratio      CAGR       MDD
EWT+XLK+IEF+XLB_PPH+QQQ_IEF      0.715741  0.159439 -0.366462

In [122]:
pd.read_parquet("../../backtest/daa_backtest_outputs/20260108/daa_res_194427.parquet")

                                  Sharpe Ratio      CAGR       MDD
ONEQ+XLB+QQQ+IXC_XLK+IEF_XLB          0.717126  0.142496 -0.312258
IXC+ONEQ+QQQ_XLK+XLB+IEF_QQQ          0.732626  0.150428 -0.275867
QQQ+XLK+IXC_XLB+IEF+ONEQ_XLB+EWO      0.774268  0.157396 -0.251740
EWO+ONEQ+XLK+IXC_IEF+QQQ_XLB          0.715498  0.140962 -0.333664
EWO+QQQ+ONEQ_XLB+XLK+IEF_QQQ+EWO      0.736964  0.152880 -0.330394
EWO+IXC+QQQ_IEF+XLK_QQQ               0.753954  0.158456 -0.303226

In [123]:
bs_dt = "20260108"
output_dir = Path(f"../../backtest/daa_backtest_outputs/{bs_dt}")
pattern = "*.parquet"
files = sorted(output_dir.glob(pattern))
files

[WindowsPath('../../backtest/daa_backtest_outputs/20260108/daa_com_194427.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260108/daa_res_193157.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260108/daa_res_193503.parquet'),
 WindowsPath('../../backtest/daa_backtest_outputs/20260108/daa_res_194427.parquet')]

In [125]:
res_df = pd.DataFrame()

res_files = sorted(
    f for f in output_dir.glob(pattern)
    if "res" in f.name
)

for f in res_files:
    df = pd.read_parquet(f)
    res_df = pd.concat([res_df, df])

res_df.sort_values(by=["Sharpe Ratio", "CAGR", "MDD"], ascending=[False, False, False])

                                  Sharpe Ratio      CAGR       MDD
QQQ+XLK+IXC_XLB+IEF+ONEQ_XLB+EWO      0.774268  0.157396 -0.251740
ONEQ+VIS+IWN+PPH_IEF+QQQ_EWT          0.767053  0.148010 -0.316967
EWO+IXC+QQQ_IEF+XLK_QQQ               0.753954  0.158456 -0.303226
EWO+QQQ+ONEQ_XLB+XLK+IEF_QQQ+EWO      0.736964  0.152880 -0.330394
IXC+ONEQ+QQQ_XLK+XLB+IEF_QQQ          0.732626  0.150428 -0.275867
...                                        ...       ...       ...
IEF+PPH_IWN+QQQ+EWT+VIS_QQQ           0.286849  0.081450 -0.488363
QQQ+PPH+VIS_EWT+IWN_IEF               0.266277  0.084418 -0.528751
QQQ+IEF_EWT+PPH+IWN_ONEQ              0.248736  0.079069 -0.429794
PPH+IEF+IWN_EWT+VIS_VIS               0.221615  0.071581 -0.531229
PPH+IEF_VIS+IWN_EWT                   0.216452  0.068847 -0.583490

[101 rows x 3 columns]